
/* comments */

.profile-image {
    width: 35px;
    height: 35px;
    margin-right: 5px;
    border-radius: 40%;
    float: left;
  }
  
  .commenter {
    display: flex;
    align-items: center;
  }
  
  .comment-info {
    margin-left: 40px;
  }
  
  .comment {
    margin-bottom: 20px;
  }
  
  .comments {
    margin-top: 20px;
  }
  
  #comments {
    margin-top: 50px;
  }
  
  #comments h2 {
    margin-bottom: 20px;
  }
  
  #comments textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
  }
  
  #comments .btn {
    margin-left: auto;
    display: block;
  }
  
  #comments .comment {
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
  
  #comments .comment:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }
  
  #comments .comment .profile-image {
    margin-right: 10px;
  }
  
  #comments .comment h4 {
    margin-bottom: 5px;
  }
  
  #comments .comment span {
    font-size: 14px;
  }
  
  #comments .comment p {
    margin-top: 10px;
  }
  
  /* comment placeholder text */
  #comments textarea::-webkit-input-placeholder {
    /* size */
    font-size: 2vh;
  }